#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1265341e-c112-407c-9eaf-ecbb142c4870 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}