#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Summary_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1ec5e3f3-ebf0-41c1-b0ac-1754effc5e0d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}