#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Pinned-top {
  position: absolute;
  top: 6px;
  left: 0px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Panel_7 {
  width: 1024px;
  height: 137px;
  background-color: #6ACCCB;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_1 {
  position: absolute;
  top: 30px;
  left: 56px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 36.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_1 {
  position: absolute;
  top: 92px;
  left: 218px;
  width: 515px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  box-shadow: none;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_1-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_2 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_2-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_3 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_3-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_10 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_10-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_11 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_11-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_12 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_12-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_9 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_9-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_13 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_13-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_14 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_14-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_15 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_15-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_16 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_16-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_17 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_17-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_18 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_18-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_19 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_19-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_20 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_20-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_21 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_21-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_22 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_22-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_4 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_4-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_23 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_23-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_24 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_24-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_25 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_25-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_5 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_5-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_26 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_26-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_27 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_27-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_28 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_28-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_29 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_29-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_30 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_30-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_31 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_31-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_6 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_6-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_32 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_32-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_33 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_33-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_34 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_34-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_35 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_35-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_38 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_38-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_39 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_39-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_40 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_40-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_7 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_7-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_8 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_8-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_36 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_36-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_37 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Menu_item_37-nodetext {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Image_1 {
  position: absolute;
  top: 4px;
  left: 924px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_2 {
  position: absolute;
  top: 104px;
  left: 898px;
  width: 118px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_3 {
  position: absolute;
  top: 5px;
  left: 382px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: Roboto-Black,Arial;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Black,Arial;
  font-size: 48.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Black,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Black,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_4 {
  position: absolute;
  top: 250px;
  left: 159px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 26.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Category_1 {
  position: absolute;
  top: 380px;
  left: 149px;
  width: 724px;
  height: 287px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Category_1 .valign {
  width: 706px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Input_1 {
  position: absolute;
  top: 310px;
  left: 159px;
  width: 502px;
  height: 43px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Button_1 {
  position: absolute;
  top: 318px;
  left: 696px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-33b5b69f-a8ce-416e-a7d1-752bcfebb470 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}