#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Summary_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-MostrarProyectos .s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-382ca640-0de4-4201-9667-e38d9d75483e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}