#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Summary_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4806e588-82b0-4165-9b40-79ab63e3e8c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}