#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Summary_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-53fce2b3-d0fc-4159-be33-5f3a415a0924 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}