#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8daee725-f36d-4866-ae75-3ab4fb8697c5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}