#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Summary_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-912da97e-37d1-457b-a315-1e24b59f31c3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}