#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9578a960-ed23-424e-a128-8b12e0670488 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}