#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9bbfe5e9-67f9-495a-8dfa-d4bebc36cc39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}