#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a14e6092-9e2c-438c-b8d8-1f219e040018 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}