#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4787f18-1d83-4bfe-943c-4d90a7b4f660 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}