#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f980a576-9a8f-4d0f-8a2a-f3fb030fb2a2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}