#t-9567cee6-e958-4e7c-80ba-bcab843915e7 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-9567cee6-e958-4e7c-80ba-bcab843915e7 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#t-9567cee6-e958-4e7c-80ba-bcab843915e7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}