#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Summary_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-032d8f3a-19d2-464a-b27f-d2e5663edd99 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}