#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3284ed89-d2d9-42c4-b6cf-5b5efb8788a1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}