#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4b69c018-e8e2-49eb-be5c-4421f85da86a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}