#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-54652830-6a41-42c5-a6c2-deb305d6c62e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}