#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c61ec3c-2458-4c5a-8134-eefc75685d8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}