#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f167fc0d-ba33-4ee1-b951-9580698fe70b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}