#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Summary_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f86434c1-bc31-48b9-9722-f8c992b69e16 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}